.Header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 40;
}

.Header-logo{
  display: grid;
  justify-content: center;
}


.Header-name{
  color: var(--text-color);
  font-family: var(--title-font);
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.Header-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

@media (min-width: 480px) {
  .Header{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Contact*/

.mail-btn {
  background: none;
  border: none;
}

.mail-btn i {
  color: var(--text-color);
  font-size: 16px;
}

/* .mail-btn:hover i{
  transition: 0.5s;
  color: var(--title-color);
} */
