.Header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 15px;
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 40;
}


.Header-name{
  color: var(--text-color);
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}

.Header-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

@media (min-width: 480px) {
  .Header{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
