---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Siderbar.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skillset from '../components/Skillset.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main id='about'>
		<Header/>
		<Sidebar/>
		<About />
		<Projects />
		<Skillset />
		<Footer />
	</main>
</Layout>