@media (min-width: 720px) { 
  .Burger{
    display: none;
  }
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 1.5px;
  transition-duration: .3s;
}

/* #checkbox:checked + .toggle .bars {
  margin-left: 13px;
} */

.active + .toggle #bar2 {
  transform: translateY(11px) rotate(58deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
}

.active + .toggle #bar1 {
  transform: translateY(21px) rotate(-60deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
}

.active + .toggle {
  transform: rotate(-90deg);
}
/* .active + .toggle #bar3 {
  transform: rotate(90deg);
  transition-duration: .3s;
  transform-origin:right;
} */



