/*------ Settings ------*/
.container {
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  fill: var(--text-color);
}

.container .moon {
  animation: keyframes-fill .5s;
  margin-top: 2px;
}

.container .sun {
  display: none;
  animation: keyframes-fill .5s;
  margin-bottom: 2px;
}

/* ------ On check event ------ */
.container input:checked ~ .moon {
  display: none;
}

.container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}