---
import '../styles/About.css';
import Redes from '../components/utils/Redes.astro'
---
<section class="About">
  <div class="About-container">
    
    <p class="About-header">My name is <span>Diego Romero</span></p>

    <h1>Frontend Developer</h1>

    <p class="About-regard">Glad to see you here!</p>

    <p class="About-info">Looking for my first work experience. Really enjoy learning new things, programming with React, playing video games and sports.</p>

    <Redes />

  </div>
  <div class="About-me">
    <img src="/me.webp" alt="My Picture">
  </div>
</section>

<div class="arrow-section">
  <a href="#projects">
    <i class="bi bi-arrow-down-circle"></i>
  </a>
</div>
