---
import "../styles/Footer.css";
import Redes from "./utils/Redes.astro";
---

<footer class="Footer">
  <div class="Footer-container">
    <Redes />
    
    <div class="TopBtn">
      <p>
        Back to the top
      </p>
      <a href="#about">
        <i class="bi bi-arrow-up-circle"></i>
      </a>
    </div>
  </div>

  <div class="info">
    <p>
      Developed by
      <a  target="_blank" href="https://www.linkedin.com/in/deromeroo/">@Deromeroo</a>
    </p>
  </div>
</footer>
