---
import ThemeButton from '../components/utils/ThemeButton.astro';
import Burger from '../components/utils/Burger.astro';
import '../styles/Header.css';
import Navigation from './utils/Navigation.astro';
---

<header class="Header">

  <Burger />

  <Navigation />

  <div class="Header-logo">
    <p class="Header-name"> DevRom </p>
  </div>

  <div class="Header-buttons">
    <button class="mail-btn">
      <a class="Btn" target="__blank" href="mailto:deromero707@gmail.com">
        <i class="bi bi-envelope-fill"></i>
      </a>
    </button>
    <ThemeButton />
  </div>

</header>