<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="Title" content="Dev Romero">
		<meta name="description" content="Portfolio Dev Romero">
		<meta property="og:image"  content="./web-capture.webp">
		<meta name="twitter:image" content="./web-capture.webp">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<title>DR | Portfolio</title>
		
	</head>
	<body>
		<slot />
	</body>
</html>
