---
import '../../styles/utils/Burger.css';
---
<div class="Burger">
    <button id="checkbox"/>
    <label class="toggle" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
    </label>
</div>

<script>
    const burger = document.querySelector('#checkbox');
    burger?.addEventListener('click', () => {
        burger.classList.toggle('active')
    })
</script>

