---
import '../../styles/utils/ContactButton.css';
---
<a class="Btn" target="__blank" href="mailto:deromero707@gmail.com">
  
  <div class="sign">
    <i class="bi bi-envelope-fill"></i>
  </div>
  
  <div class="text">Contact</div>
</a>
