---
import '../../styles/utils/Navigation.css'
---

<ul class="Navigation-nav">
  <li class="Navigation-nav--item" id="navItem">
    <a href="#about">About</a>
  </li>
  <li class="Navigation-nav--item" id="navItem">
    <a href="#projects" >Projects</a>
  </li>
  <li class="Navigation-nav--item" id="navItem">
    <a href="#skillset">Skillset</a>
  </li>

  <li class="Navigation-nav--item" id="navItem">
    <a target="__blank" href="https://drive.google.com/file/d/1o3ZKHZfTGaMXyAvVXHCYrEg8A1LgeHLF/view?usp=share_link">Resume</a>
  </li>
</ul>
