---
import '../../styles/utils/Navigation.css'
---

<ul class="Navigation-nav">
  <li class="Navigation-nav--item" id="navItem">
    <a href="#about">About</a>
  </li>
  <li class="Navigation-nav--item" id="navItem">
    <a href="#projects" >Projects</a>
  </li>
  <li class="Navigation-nav--item" id="navItem">
    <a href="#skillset">Skillset</a>
  </li>

  <li class="Navigation-nav--item" id="navItem">
    <a target="__blank" href="https://drive.google.com/file/d/1o3ZKHZfTGaMXyAvVXHCYrEg8A1LgeHLF/view?usp=share_link">Resume</a>
  </li>
</ul>

<!-- <script>
  const navBtn = document.querySelectorAll(".Sidebar #navItem");
  const sidebar = document.querySelector('#Sidebar');
  const burger = document.querySelector('#checkbox');

  for (let i = 0; i < navBtn.length; i++) {
    
    navBtn[i].addEventListener('click', (e)=> {
      sidebar?.classList.remove('show');
      burger?.removeAttribute('checked');
    })
  }
</script> -->
