
<ul class="About-redes">
  <li class="About-redes--item">
    <a class="redesBtn" href="https://www.linkedin.com/in/deromeroo/" target="_blank" >
      <i class="bi bi-linkedin"></i>
    </a>
  </li>

  <li class="About-redes--item">
    <a class="redesBtn" target="__blank" href="https://github.com/deromeroo">
      <i class="bi bi-github"></i>
    </a>
  </li>

  <li class="About-redes--item">
    <a class="redesBtn" target="__blank" href="https://twitter.com/DevRomeroo">
      <i class="bi bi-twitter"></i>
    </a>
  </li>
</ul>