
<ul class="About-redes">
  <li class="About-redes--item">
    <a class="redesBtn" href="https://www.linkedin.com/in/deromeroo/" target="_blank" >
      <i class="bi bi-linkedin"></i>
    </a>
  </li>

  <li class="About-redes--item">
    <a class="redesBtn" target="__blank" href="https://github.com/deromeroo">
      <i class="bi bi-github"></i>
    </a>
  </li>

  <li class="About-redes--item">
    <a class="redesBtn" target="__blank" href="https://twitter.com/DevRomeroo">
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>

  <li class="About-redes--item">
    <a class="redesBtn" target="__blank" href="https://drive.google.com/file/d/1o3ZKHZfTGaMXyAvVXHCYrEg8A1LgeHLF/view?usp=share_link">
      <i class="bi bi-file-person-fill"></i>
    </a>
  </li>
</ul>